#Background {
    -fx-background-color: #FFFFFF;
}

#OptionBackground {
    -fx-background-color: #242424;
}

#HuffmanTree {
    -fx-background-color: #4D4D4D;
}

#HuffmanTreeTitle {
    -fx-background-color: #2B2B2B;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-text-fill: #DEDEDE;
    -fx-font-family: "Trebuchet MS";
}

#EntryFileTxt {
    -fx-background-color: #242424;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-text-fill: #DEDEDE;
    -fx-font-family: "Trebuchet MS";
}

#OutFileTxt {
    -fx-background-color: #242424;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-text-fill: #DEDEDE;
    -fx-font-family: "Trebuchet MS";
}

#EntryFileButton {
    -fx-background-color: #363636;
    -fx-font-size: 15;
    -fx-text-fill: #DEDEDE;
    -fx-font-family: "Trebuchet MS";
}

#OutFileButton {
    -fx-background-color: #363636;
    -fx-font-size: 15;
    -fx-text-fill: #DEDEDE;
    -fx-font-family: "Trebuchet MS";
}

#MessageTxt {
    -fx-background-color: #242424;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-text-fill: #DEDEDE;
    -fx-font-family: "Trebuchet MS";
}

#Message {
    -fx-background-color: #363636;
    -fx-font-size: 15;
    -fx-text-fill: #DEDEDE;
    -fx-font-family: "Trebuchet MS";
}

#PasswordTxt {
    -fx-background-color: #242424;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-text-fill: #DEDEDE;
    -fx-font-family: "Trebuchet MS";
}

#Password {
    -fx-background-color: #363636;
    -fx-font-size: 15;
    -fx-text-fill: #DEDEDE;
    -fx-font-family: "Trebuchet MS";
}

#RunButton {
    -fx-background-color: #4D4D4D;
    -fx-alignment: center;
    -fx-font-size: 15;
    -fx-text-fill: #DEDEDE;
    -fx-font-family: "Trebuchet MS";
}

.scroll-pane .thumb {
    -fx-background-color: #C2C2C2;
}

.scroll-pane .track {
    -fx-background-color: #242424;
}

.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-pref-height: 0;
}

.scroll-pane .scroll-bar:horizontal .increment-button,
.scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-pref-width: 0;
}

.scroll-pane .corner {
    -fx-background-color: #242424;
    -fx-border-color: #242424;
    -fx-border-width: 1px;
}